logs_and_errors.txt
Data files/login.csv
__pycache__
Birthday reminder app.xml
__pycache__/check_data_for_birthdays.cpython-311.pyc
__pycache__/check_data_for_birthdays.cpython-311.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/send_letters.cpython-311.pyc
